#端口号
server:
  port: 8001
#服务名
spring:
  application:
    name: service-edu
  #环境配置
  profiles:
    active: dev
    #返回json的全局时间格式
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

  #数据库连接
  datasource:
    url: jdbc:mysql://localhost:3306/guli?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
    username: root
    password: root
    # 执行sql分析执行
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

mybatis-plus:
  mapper-locations: classpath:com/caq/eduservice/mapper/xml/*.xml

#feign:
#  hystrix:
#    enabled: true

#  mybatis-plus日志
#mybatis-plus:
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

#logging:
#  level:
#    root: debug

#开启熔断机制
